@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0px;
    padding: 0%;
}
.top{
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    color: rgb(63, 63, 151);


}
.top{
    background-image: url('/image/1.jpg');
    height: 500px;
    width: 1340px;
    animation: 1s ease-in-out 0s 1 slideInLeft;
}
@keyframes slideInLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
.container-1{
    height: 600px;
    width: 1340px;
    background-image:  url('https://i.giphy.com/media/l2QZQ53G4vWK9DFYY/giphy.webp');
    text-align: right;
    background-repeat: no-repeat;
    animation: 1s ease-in-out 0s 1 slideInright;
    
}
.c-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    padding-top: 140px;
    font-size: 25px;
    margin-right: 20px;
    text-decoration:  inline;
    text-decoration-color:rgb(255, 0, 0),rgb(0, 128, 0);
    text-shadow: 2px 1px #ff0000,2px 2px #ffff00;
}
.t-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-top: 140px;
    font-size: 25px;
    margin-right: 20px;
    text-decoration:  inline;
    text-decoration-color:rgb(255, 0, 0),rgb(0, 128, 0);
    text-shadow: 2px 1px rgb(0, 128, 0),2px 2px rgb(255, 255, 0);
}
.container-2{
    height: 600px;
    width: 1340px;
    background-position: 80%;
    background-image:  url('https://media2.giphy.com/media/104amXvu1OSGcw/giphy.gif?cid=ecf05e47nqkcfwekzdo69kmmv6tqacufgjn6cyayspbhqd5m&rid=giphy.gif&ct=g');
    background-repeat: no-repeat;
    animation: 1s ease-in-out 0s 1 slideInright;
    
}
.footer{
    animation: 1s ease-in-out 0s 1 slideInright;
    background-image: url('/image/2.jpg');
    height: 300px;
    width: 1340px;
}
@keyframes slideInright {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.link{
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    color: rgb(17, 116, 197);
    letter-spacing: 10px;
    text-shadow: 3px 4px 1px rgb(12, 165, 157);
}
.e-link{
    margin-left: 350px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(224, 96, 10);
    letter-spacing: 10px;
    text-shadow: 3px 4px 1px rgb(37, 135, 148);
}
.button{
    margin-right: 20px;
    border-width: 2px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(158, 158, 233);
}
.b-link{
    text-decoration: none;
    margin-right: 80px;
    color: rgb(255, 255, 0);
    padding-left: 80px;
}